# =========================
# DATA 
# =========================
data/
*.nc

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# VSCODE
# =========================
.vscode/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db